# Exerciții: Curățare date, outlieri și codificare categorică

### A. Curățarea datelor și eliminarea valorilor lipsă

Date:

In [65]:
import pandas as pd
import numpy as np

df_task1 = pd.DataFrame({
    'Nume': ['Ana', 'Mihai', 'Ioana', 'Andrei', 'Maria', 'Stefan'],
    'Varsta': [25, np.nan, 22, 28, np.nan, 30],
    'Salariu': [3000, 4000, np.nan, 4500, 5000, 6000],
    'Departament': ['HR', 'IT', 'IT', 'Marketing', np.nan, 'HR']
})
print(df_task1)

     Nume  Varsta  Salariu Departament
0     Ana    25.0   3000.0          HR
1   Mihai     NaN   4000.0          IT
2   Ioana    22.0      NaN          IT
3  Andrei    28.0   4500.0   Marketing
4   Maria     NaN   5000.0         NaN
5  Stefan    30.0   6000.0          HR

 Cerinte:

1.Identifică toate valorile lipsă (NaN) din DataFrame.

2.Creeaza un dataframe nou in care sa elimini toate rândurile care au cel puțin o valoare lipsă din dataframeul initial.

3.Înlocuiește valorile lipsă din Varsta cu media coloanei și din Salariu cu mediana.

4.Înlocuiește valorile lipsă din Departament cu Unknown.

### B.Eliminarea outlierilor

Date

In [66]:
df_task2= pd.DataFrame({
    'Varsta': [22, 25, 23, 28, 120, 26, 24],
    'Salariu': [3000, 3200, 3100, 4000, 50000, 3300, 3050],
    'Vechime':[2,3,4,5,2,100,7]
})
print(df_task2)

   Varsta  Salariu  Vechime
0      22     3000        2
1      25     3200        3
2      23     3100        4
3      28     4000        5
4     120    50000        2
5      26     3300      100
6      24     3050        7

Cerinte:

1.Folosește regula IQR pentru a identifica outlierii în Varsta și Salariu si afiseaza-i.

2.Elimină rândurile care contin outlieri conform IQR.

### C. Codificarea variabilelor nominale

Date

In [67]:
df_task3 = pd.DataFrame({
    'Culoare': ['Roșu', 'Albastru', 'Verde', 'Roșu', 'Albastru'],
    'Brand': ['Nike', 'Adidas', 'Puma', 'Nike', 'Puma'],
    'Pret':[120,500,400,800,300],
    'Marime':['xs','m','l','s','xs']
})
print(df_task3)

    Culoare   Brand  Pret Marime
0      Roșu    Nike   120     xs
1  Albastru  Adidas   500      m
2     Verde    Puma   400      l
3      Roșu    Nike   800      s
4  Albastru    Puma   300     xs

Cerinte

1.Aplică One-Hot Encoding pe coloanele unde trebuie este utilizat aceasta transformare.

(Folosește drop_first=True pentru a evita coliniaritatea coloanelor)

### D. Codificarea variabilelor ordinale

Date

In [76]:
df_task4 = pd.DataFrame({
    'Nivel': ['Liceu', 'Facultate', 'Master', 'Doctorat', 'Facultate'],
    'Satisfactie': ['Foarte nesatisfacut', 'Satisfacut', 'Neutru', 'Foarte satisfacut', 'Satisfacut']
})
df_test_task4=pd.DataFrame({
    'Nivel':['Facultate','Doctorat','Facultate','Liceu'],
    'Satisfactie':['Satisfacut','Nesatisfacut','Foarte satisfacut','Neutru']
})
print(df_task4)
print()
print(df_test_task4)

       Nivel          Satisfactie
0      Liceu  Foarte nesatisfacut
1  Facultate           Satisfacut
2     Master               Neutru
3   Doctorat    Foarte satisfacut
4  Facultate           Satisfacut

       Nivel        Satisfactie
0  Facultate         Satisfacut
1   Doctorat       Nesatisfacut
2  Facultate  Foarte satisfacut
3      Liceu             Neutru

Cerinte

1.Folosește OrdinalEncoder pentru a codifica Nivel după ordinea:
Liceu < Facultate < Master < Doctorat.Apoi aplica pe setul de test.

2.Folosește OrdinalEncoder pentru a codifica Satisfactie după ordinea:
Foarte nesatisfacut < Nesatisfacut < Neutru < Satisfacut < Foarte satisfacut.Apoi aplica si pe setul de test.

### E. Pregătirea completă a unui DataFrame

Date

In [77]:
df_task5 = pd.DataFrame({
    'Varsta': [25, np.nan, 22, 28, 120, 30],
    'Salariu': [3000, 4000, np.nan, 4500, 50000, 6000],
    'Culoare': ['Roșu', 'Albastru', 'Verde', 'Roșu', 'Albastru', 'Verde'],
    'Marime': ['S', 'M', 'L', 'XL', 'M', 'L']
})
print(df_task5)

   Varsta  Salariu   Culoare Marime
0    25.0   3000.0      Roșu      S
1     NaN   4000.0  Albastru      M
2    22.0      NaN     Verde      L
3    28.0   4500.0      Roșu     XL
4   120.0  50000.0  Albastru      M
5    30.0   6000.0     Verde      L

Cerinte

1.Înlocuiește valorile lipsă în Varsta și Salariu cu mediana.

2.Elimină outlierii.

3.Aplică One-Hot Encoding pe Culoare .

4.Aplică OrdinalEncoder pe Marime cu ordinea S < M < L < XL.

5.Creează DataFrame-ul final gata de folosit pentru MachineLearning.

### F. Acceseaza link-ul de mai jos si prelucreaza primul tau dataset

In [ ]:
https://www.kaggle.com/competitions/titanic/data